.form{
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    
    > * {
        margin-bottom: 1rem;
    }
    &::after{
        content:"";
        display: block;
        width: 100%;
		border-bottom: 2px solid rgba(62, 62, 62, 0.15);
    }
}

.textarea {
    min-width:100%;
    max-width: 100%;
    min-height: 4rem;
    field-sizing: content;
}

.preview{
    > *{
        margin-bottom: 1rem;
    }
}