.header {
	margin:0 3rem;
	padding: 1rem 0 1rem 0 ;
	display: flex;
	width: 100%;
	flex-direction: row;
	background-color: #208aae;
}

.nav {
	display: flex;
	align-self: flex-end;
	padding-left: 0.2rem;
	position: relative;
	a {
		padding-left: 0.4rem;
	}
	> *::before{
		content:"";
		height:100%;
		border: 1px solid black;
		left:-0.2rem;
		position: relative;
	}
}

.hamburger{
	display:none;
}
@media (max-width:400px) {
	.hamburger{
		display:flex;
		justify-content: space-between;
		width:100%;
		padding: 0.5rem 0.2rem 0 0.5rem
	}
	.nav{
		display:none;
		visibility:hidden;
		> * {
			visibility: hidden;
		}
	}
	.hamburgerOpen{
		display: flex;
		flex-direction: column;
		text-align: right;
	}
}