@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html {
	max-width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
}

body {
	max-width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	font-family: "Inter", sans-serif;
	background-color: rgb(233, 233, 233);
}

a {
	text-decoration: none;
	color: black;
}

.page-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	align-items: center;
}

* {
	margin: 0;
	padding: 0;
}

main {
	display: flex;
	flex-direction: column;
	flex: 1;
	max-width: 40rem;
	min-width: 40rem;
	padding-top: 2rem;
	padding: 1rem 1rem;
	background-color: white;
	position: relative;
}
main::before {
	content: "";
	position: absolute;

	/* 3. Place it behind the parent */
	z-index: -1;

	/* 4. The "glow" setup */
	top: 0;
	left: -0.2rem; /* How much it sticks out on the left */
	width: calc(100% + 0.4rem); /* 100% + 10px left + 10px right */
	height: 100%; /* Exact same height, no vertical glow! */

	background-color: white;

	/* 5. Apply the blur */
	filter: blur(15px);
}

button {
	border: 0;
	border-bottom: 2px solid rgba(62, 62, 62, 0.25);
	border-left: 2px solid rgb(62, 62, 62, 0.25);
	margin-top: 0.75rem;
	padding: 0.5rem 1rem 0.5rem 1rem;
	background-color: #f9ebe0;
	border-radius: 0.3rem;
	cursor: pointer;
}

@media (max-width:700px) {
	main{
		min-width: 95vw;
		max-width: 95vw;
	}
}